@media only screen and (min-width: 61em) {
    .placeholder {
        background-color: rgb(146, 255, 235);
    }
    .movie {
        color: rgb(77, 4, 77);
        grid-column: 1/2;
        grid-row: 1/2;
        background: rgb(255, 185, 185);
        backdrop-filter: blur(7px);
        margin: 4em 4em 4em 4em;
        padding: 2em;
        text-align: center;
        border-radius: 25px;
        bottom: -749px;
        right: 700px;
    }
    .movie h3 {
        font-size: 32px;
    }
    .movie button {
        margin: auto;
        border-radius: 31px;
        font-size: 29px;
        border: 7px solid rgb(54, 39, 54);
    }
    #grid-head {
        width: auto;
        padding: 17px;
        display: grid;
        grid-template-rows: auto;
        grid-gap: 17px;
    }
    .banbox {
        width: auto;
        grid-area: banbox;
        padding-left:120px;
        padding-right: 120px;
        height: 246px;
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 260px;
    }
    #titlestory {
        width: auto;
        grid-area: titlestory;
        padding-left: 120px;
        padding-right: 120px;
    }
    .news {
        width: 120px;
        height: 120px;
        color:rgb(189, 255, 232);
        grid-column: 1/2;
        grid-row: 1/2;
        background:rgb(153, 6, 153);
        backdrop-filter: blur(7px);
        margin: 0.9em;
        padding: 0.9em;
        text-align: center;
        border-radius: 26px;
    }
    .stretch {
        width: auto;
        height: 110%;
        background-color: none;
        margin: 0 1px 0 1px;
        grid-area: stretch;
        display: flex;
    }
    .music {
        color: rgb(28, 1, 53);
    }
    #banner {
        width: 220%;
        height: 120%;
        grid-column: 1/-1;
        grid-row: 1;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 21px 40px;
    }
}