@media only screen and (min-width: 25.4em) {
    .placeholder {
        background-color: rgb(255, 245, 230);
        font-family: 'Roboto', sans-serif;
    }
    body {
        max-width: 860px;
        margin: 0 auto;
    }
    #main {
        display: flex;
        flex-direction: column;
    }
    .summary {
        padding: 20px;
        margin: 20px;
        border: dotted 3px rgb(2, 85, 60);
    }
    .logopic {
        margin-left: 12%;
        margin-right: 18%;
    }
    .township {
        text-align: center;
        margin-left: -90%;
        margin-right: -50%;
        font-family: 'Roboto', sans-serif;
    }
    #activity {
        font-family: 'Signika Negative', sans-serif;
    }
    #contact {
        font-family: 'Signika Negative', sans-serif;
    }
    #day {
        font-family: 'Secular One', sans-serif;
    }
    #climate {
        font-family: 'Archivo', sans-serif;
    }
    body section.href {
        position: absolute;
        top: 257px;
        right: 790px;
        float: right;
        background: radial-gradient(rgb(119, 48, 141));
        background-color: rgb(255, 234, 190);
        border: 1px solid rgb(63, 2, 2);
        padding: 1.03rem;
        box-shadow: 0 0 90px rgb(28, 102, 163);
        opacity: 0.9;
        width: 200px;
        height: 225px;
    }
}