@media only screen and (min-width: 35.4em) {
    .placeholder {
        background-color: rgb(255, 245, 230);
        font-family: 'Roboto', sans-serif;
    }
    body {
        max-width: 860px;
        margin: 0 auto;
    }
    #main {
        display: flex;
        flex-direction: column;
    }
    .summary {
        padding: 20px;
        margin: 20px;
        border: dotted 3px rgb(2, 85, 60);
    }
    .logopic {
        margin-left: 12%;
        margin-right: 18%;
    }
    .township {
        text-align: center;
        margin-left: -90%;
        margin-right: -50%;
        font-family: 'Roboto', sans-serif;
    }
    #activity {
        font-family: 'Signika Negative', sans-serif;
    }
    #contact {
        font-family: 'Signika Negative', sans-serif;
        text-align: center;
    }
    #day {
        font-family: 'Secular One', sans-serif;
    }
    #climate {
        font-family: 'Archivo', sans-serif;
    }
    body section.href {
        position: absolute;
        top: 357px;
        float: right;
        background: radial-gradient(rgb(119, 48, 141));
        background-color: rgb(255, 234, 190);
        border: 1px solid rgb(63, 2, 2);
        padding: 1.03rem;
        box-shadow: 0 0 90px rgb(28, 102, 163);
        opacity: 0.9;
        width: 200px;
        height: 225px;
    }
    .footnote {
        background-color: rgb(250, 235, 221);
    }
    #sum {
        position: absolute;
        border: 1px solid rgb(117, 17, 156);
        background: radial-gradient(rgb(247, 151, 41));
        background-color: beige;
        padding: 1.20rem;
        box-sizing: border-box;
        box-shadow: 0 0 88px rgb(36, 2, 2);
        top: 260px;
    }
    main figure.pic {
        width: 40%;
        border: 1px rgb(36, 35, 35) solid;
      }
      main figure.pic img {
        width: 100%;
      }
      main figure.pic video {
        width: 100%;
      }
      figure.pic {
          background-color: rgb(127, 172, 255);
          text-align: center;
          font-family: 'Roboto', sans-serif;
      }
      figure.one {
        margin-top: 10px;
        margin-left: 15px;
        box-shadow: 5px 6px 5px 4px rgb(56, 55, 55);
      }
      figure.one:hover {
          box-shadow: 0 0 90px rgb(77, 1, 1);
        }
      figure.two {
          margin-top: -279px;
          margin-left: 410px;
          box-shadow: 5px 6px 5px 4px rgb(56, 55, 55);
      }
      figure.two:hover {
        box-shadow: 0 0 90px rgb(77, 1, 1);
      }
      figure.three {
        margin-top: -187px;
        margin-left: 15px;
        box-shadow: 5px 6px 5px 4px rgb(56, 55, 55);
      }
      figure.three:hover {
        box-shadow: 0 0 90px rgb(77, 1, 1);
      }
      figure.four {
        margin-top: -70px;
        margin-left: 455px;
        box-shadow: 5px 6px 5px 4px rgb(56, 55, 55);
      }
      figure.four:hover {
        box-shadow: 0 0 90px rgb(77, 1, 1);
      }
      figure.five {
        margin-top: -189px;
        margin-left: 15px;
        box-shadow: 5px 6px 5px 4px rgb(56, 55, 55);
      }
      figure.five:hover {
        box-shadow: 0 0 90px rgb(77, 1, 1);
      }
      figure.six {
        margin-top: -270px;
        margin-left: 430px;
        box-shadow: 5px 6px 5px 4px rgb(56, 55, 55);
      }
      figure.six:hover {
        box-shadow: 0 0 90px rgb(77, 1, 1);
      }
      figure.seven {
        margin-top: 178px;
        margin-left: 15px;
        box-shadow: 5px 6px 5px 4px rgb(56, 55, 55);
      }
      figure.seven:hover {
        box-shadow: 0 0 90px rgb(77, 1, 1);
      }
      figure.eight {
        margin-top: -340px;
        margin-left: 455px;
        box-shadow: 5px 6px 5px 4px rgb(56, 55, 55);
      }
      figure.eight:hover {
        box-shadow: 0 0 90px rgb(77, 1, 1);
      }
      figure.nine {
        margin-top: -169px;
        margin-left: 15px;
        box-shadow: 5px 6px 5px 4px rgb(56, 55, 55);
      }
      figure.nine:hover {
        box-shadow: 0 0 90px rgb(77, 1, 1);
      }
      .ntwo {
          background-color: rgb(255, 233, 227);
      }
    }