@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
.placeholder {
    display: block;
    margin: 12px auto;
    border: 2px dotted rgb(44, 0, 0);
    padding: 17px;
    background-color: rgb(234, 248, 248);
    font-family: 'Fredoka', sans-serif;
}
main {
    display: block;
}
body {
    font-size: 18px;
    font-family: 'Istok Web', sans-serif;
}
h1 {
    font-family: 'Hammersmith One', sans-serif;
}
html {
    color:rgb(3, 63, 55);
}
div {
    display: block;
}
  .logopic {
    position:absolute;
    top: 2px;
    left: 9px;
  }
  header {
    background-color: rgb(192, 211, 250);
    display: grid;
    align-content: center;
    justify-content: center;
    margin-bottom: 29px;
    margin-right: 690px;
  }
  #site-title {
      margin-top: 49px;
  }
  .motto {
      margin-top: 2px;
      margin-left: 79px;
      margin-bottom: 56px;
  }
  * {
      padding: 0;
      margin: 0;
      text-decoration: none;
      list-style: none;
      box-sizing: border-box;
  }
  nav {
      background: #8bffe6;
      height: 85px;
      width: 120%;
  }
  label.menu {
    color:rgb(3, 23, 114);
    font-size: 46px;
    line-height: 85px;
    padding: 0 110px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
  }
  nav ul {
      float:right;
      margin-right: 20px;
  }
  nav ul li {
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
  }
  nav ul li a {
      color:rgb(0, 41, 41);
      font-size: 18px;
      padding: 7px 13px;
      border-radius: 3px;
      text-transform: uppercase;
  }
  a.act,a:hover {
    background: #1b9bff;
    transition: .5s;
  }
  .chessclub {
      font-size: 32px;
      color:darkblue;
      float:right;
      line-height: 82px;
      margin-right: 40px;
      cursor:pointer;
      display: none;
  }
  #chex {
      display: none;
  }

footer {
    background-color: rgb(192, 211, 250);
}

  @media (max-width: 952px) {
      label.menu{
          font-size: 40px;
          padding-left: 60px;
      }
      nav ul li a{
          font-size: 20px;
      }
  }
  @media (max-width: 858px) {
      .chessclub {
          display: block;
      }
      ul{
          position: fixed;
          width: 100%;
          height: 100vh;
          background: #2c3e50;
          top: 80px;
          left: -100%;
          text-align: center;
          transition: all .5s;
      }
      nav ul li{
          display: block;
          line-height: 30px;
      }
      nav ul li a {
          font-size: 25px;
      }
      a:hover,a.act {
        background: none;
        color: #0082e6;
      }
      #chex:checked ~ ul {
          left: 0;
      }
      
  }