@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Hammersmith+One&family=Istok+Web&family=Lobster&family=Nunito+Sans:wght@200&display=swap');
#weatherport {

}
nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  }
  nav {
    font-family: 'Hammersmith One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Hammersmith One'), local('Hammersmith One'), url(https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Hammersmith+One&family=Istok+Web&family=Lobster&family=Nunito+Sans:wght@200&display=swap) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  nav a {
    color: #345E08;
    font-family: 'Hammersmith One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Hammersmith One'), local('Hammersmith One'), url(https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Hammersmith+One&family=Istok+Web&family=Lobster&family=Nunito+Sans:wght@200&display=swap) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  
  /* unvisited link */
a:link {
  color: #63923A;
}

/* visited link */
a:visited {
  color: #183D4E;
}

/* mouse over link */
a:hover {
  color: #f3deb0;
  background-color: rgb(255, 176, 248);
}

/* selected link */
a:active {
  color: #afd38c;
  background-color: rgb(228, 156, 222);
}