@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Patrick+Hand&display=swap');
.logo {
    width: 190px;
    margin-bottom: 65px;
    margin-top: 56px;
    margin-right: 763px;
}
header {
    background-color: rgb(197, 226, 217);
    border-radius: 270px;
    border-top: 60px;
}
.title {
    margin-left: 180px;
    margin-top: -219px;
    margin-bottom: 89px;
}
#neighborhood {
    width: 590px;
}
html {
    background-color: bisque;
}
footer {
    background-color: rgb(86, 201, 166);
    border-radius: 3000px;
}
#message {
    height: 70px;
    width: 190px;
}
.title {
    font-family: 'Pacifico', cursive;
    font-size: 90px;
}
.paragraph {
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}
.script {
    margin-top: -70px;
    font-family: 'Bree Serif', serif;
    font-size: 32px;
}
b {
    font-family: 'Arima Madurai', cursive;
}
.contact {
    font-size: 20px;
}