section {
    background-color: rgb(216, 114, 216);
    text-align: center;
    outline-style: solid;
    outline-color: rgb(66, 2, 45);
}

body {
    background-color: rgb(197, 197, 197);
}

.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 20px 0;
}

h1 {
    -webkit-text-stroke: 1px rgb(162, 114, 216);
    text-align: center;
    color: rgb(42, 2, 80);
    font-family: 'Fredoka', sans-serif;
    text-shadow: 5px 5px 9px rgb(216, 114, 216);
}

h2 {
    -webkit-text-stroke: 1px rgb(63, 0, 47);
    font-family: 'Merriweather Sans', sans-serif;
}

p {
    font-family: 'Signika Negative', sans-serif;
}