@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
.placeholder {
    display: block;
    margin: 12px auto;
    border: 2px dotted rgb(44, 0, 0);
    padding: 17px;
    background-color: rgb(234, 248, 248);
    font-family: 'Fredoka', sans-serif;
}
main {
    display: block;
}
body {
    font-size: 18px;
    font-family: 'Istok Web', sans-serif;
}
h1 {
    font-family: 'Hammersmith One', sans-serif;
}
html {
    color:rgb(3, 63, 55);
}
div {
    display: block;
}
  .logopic {
    position:absolute;
    top: 2px;
    left: 9px;
  }
  header {
    background-color: rgb(142, 156, 185);
    display: grid;
    align-content: center;
    justify-content: center;
    margin-bottom: 29px;
    margin-right: 600px;
  }
  #site-title {
      margin-top: 49px;
  }
  .motto {
      margin-top: 2px;
      margin-left: 79px;
      margin-bottom: 56px;
  }
  * {
      padding: 0;
      margin: 0;
      text-decoration: none;
      list-style: none;
      box-sizing: border-box;
  }