#weatherport {
    background-color: rgb(65, 187, 209);
    border: 2px solid rgb(85, 1, 78);
    padding: 4px;
    margin: 4px;
    border-radius: 7px;
    text-align: center;
    width: 270px;
    height: 200px;
    margin-left: 10px;
}

.weathercontainer {
    display: flex;
    background-color: rgb(223, 176, 202);
    border: 4px solid rgb(22, 0, 0);
    padding: 6px;
}

#weatherport:hover {
    opacity: 0.899;
    background-color: rgb(98, 71, 143);
    color: rgb(255, 255, 255);
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    background-color: rgb(50, 42, 165);
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

nav a {
    color: azure;
}

a:link {
    color: blueviolet;
}

a:hover {
    color: blue;
    background-color: palegoldenrod;
}

a:visited {
    color: coral;
}

a:active {
    color: blueviolet;
    background-color: aqua;
}

#sum {
    position: absolute;
    top: 229px;
    left: 100px;
    bottom: 200px;
    background: radial-gradient(rgb(204, 148, 148), rgb(13, 156, 49));
    border: 2px solid rgb(10, 1, 1);
    padding: 1.5rem;
    box-shadow: 0 0 27px #444;
    opacity: 0.9;
    margin-top: 5px;
    margin-bottom: 5px;
}

.work {
    position: absolute;
    top: 125px;
    right: 100px;
    bottom: 300px;
    background: radial-gradient(pink, blue);
    border: 1px solid pink;
    padding: 1.9rem;
    box-shadow: 0 0 40px #444;
    opacity: 0.9;
}

header {
    background-color: rgb(237, 251, 253);
}

.motto {
    font-size: 20px;
    margin-top: -20px;
  }
  #site-title {
    margin-top: -80px;
    margin-bottom: 40px;
  }

  .logopic {
    margin-left: 28%;
}

.webby {
    text-align: center;
}

#dragon {
    float: right;
}

div.placeholder {
    border: 2px solid rgb(56, 1, 1);
    background-color: antiquewhite;
    margin: 90px;
}

div.placehold {
    border: 2px solid rgb(56, 32, 1);
    background-color: rgb(215, 231, 250);
    margin: 190px;
}

html {
    background-color: rgb(214, 178, 248);
}

main {
    background-color: rgb(212, 249, 255);
    box-shadow: 0 0 49px 0 #444;
}

#flaminbird {
    background-color: rgb(247, 167, 111);
    box-shadow: 0 0 49px 0 #444;
}

footer {
    background-color: rgb(63, 45, 163);
    color: white;
    box-shadow: 0 0 49px 0 #555;
}