table {
    table-layout: fixed;
    width: 100%;
    border-collapse:collapse;
    border: 3px solid blue;
}

td, th {
    border: 1px solid #dddd;
    text-align: left;
    padding: 8px;
}

td {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Ronno {
    background-color: rgb(15, 6, 94);
}
th{
    text-align: center;
    color: white;
}
.grey {
    background-color: #dddd;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(196, 255, 255);
}

.heading {
    text-align: center;
    margin-top: 90px;
    margin-bottom: -97px;
}

.scotey {
    margin-top: -90px;
    margin-bottom: 30px;
}

.motto {
    margin-top: -10px;
    margin-bottom: 20px;
}
#logo13{
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: -20px;
}

#logo13:hover {
    box-shadow: 5px 8px 8px 5px rgba(102, 1, 1, 0.867);
}

#logo22 {
    margin-left: 984px;
    margin-top: -120px;
    margin-bottom: 60px;
}

#logo22:hover {
    box-shadow: 5px 8px 8px 5px rgba(1, 61, 77, 0.867);
}

main {
    max-width: 860px;
    margin: 0 auto;
}

html {
    background-color: cyan;
}

body {
    background-color: aliceblue;
    box-shadow: 2px 4px 7px 9px rgba(12, 13, 104, 0.867);
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav {
    display: flex;
    background-color: rgb(0, 0, 70);
}

.ul {
    color: azure;
}

a:hover {
    color: rgb(255, 255, 255);
}

a:link{
    color: rgb(212, 255, 241);
}

a:visited{
    color: blueviolet;
}

a:active{
    color: chartreuse;
}


#azure {
    margin: auto;
    border: 2px solid #555;
    width: 990px;
}

#comps {
    margin-left: 50px;
    border: 1px solid #333;
    width: 390px;
}

#quips {
    margin-top: -270px;
    margin-left: 550px;
    border: 1px solid #333;
    width: 400px;
}

#gl {
    margin-top: -14px;
    margin-left: 10px;
    margin-right: 10px;
}

#ours {
    margin-top: -14px;
    margin-left: 10px;
    margin-right: 10px;
}

#recomend {
    margin-top: -14px;
}

#funs {
    margin-top: -14px;
}

#in {
    margin-left: 450px;
    margin-top: 25px;
    margin-bottom: 10px;
}

#contract {
    margin-top: -194px;
    margin-bottom: 50px;
}

iframe {
    margin-top: 9px;
}

form fieldset {
    margin: 3rem 0;
    border: 1px solid #980;
    border-radius: 12px;
    padding: .6rem 3%;
  }
  
  form legend {
    color: rgb(59, 2, 59);
    margin: 0 2rem;
    padding: 0 .5rem;
    font-family: 'Lobster', cursive;
    font-size: 27px;
  }
  
  form label.upper, form div {
    display: block;
    padding-top: 1rem;
    color: #183D4E;
    font-size: .9rem;
  }
  
  form div {
    font-family: 'Signika Negative', sans-serif;
  }
  
  form label.upper input, form label.upper select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 2px #452;
    border-radius: 5px;
    padding: .76rem;
    color:rgb(4, 80, 80);
    width: 100%;
    max-width: 20rem;
    background-color: #bceaff;
  }
  
  form label.upper {
    font-family: 'Fredoka', sans-serif, bold;
    font-size: 14px;
  }
  
  form label.lower-st {
    display: block;
    padding: .75rem 0;
    color: rgb(59, 53, 1);
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
  }
  
  
  form input.btn {
    border: none;
    background-color: firebrick;
    color: #bceaff;
    border-radius: 1rem;
    padding: .76rem 1.6rem;
    margin: 0 0 3rem 2%;
    width: 97%;
    max-width: 20%;
  }
  
  form label.upper input:required {
    border-right: rgb(220, 20, 203) solid 6px;
  }
  
  form label.upper input:required:valid {
    border-right:rgb(2, 2, 82) solid 6px;
  }

  #thanks {
      margin: auto;
      width: 700px;
  }

  #U {
      margin-top: 7px;
      margin-bottom: -20px;
  }