@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Serif:wght@300&family=Noto+Serif+Display:wght@300&display=swap');

body {
    font-family: 'IBM Plex Serif', serif;
    max-width: 1260px;
    margin:  auto;
    display: block;

}

