@charset "utf-8";
:root {
    background-color: rgb(250, 250, 250);
    color:rgb(182, 173, 164);
    --red-orange: rgb(185, 238, 226);
    --red-pink: rgb(248, 217, 223);
    --yellow-orange: rgb(182, 165, 165);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 2;
    font-family: 'IBM Plex Serif', serif;
    color:rgb(93, 105, 105);
    height: 100%;
}

h1 {
    font-size: 3.4em;
    margin: 1.0em;
}

.subheading {
    font-size: 2.0em;
    color:rgb(77, 2, 2);
    text-shadow: 2px 2px 3px rgb(71, 63, 63);
}

h2 {
    font-size: 2.0em;
    border-bottom: 1px solid rgb(34, 20, 20);
    margin-bottom: 0.7em;
}

header,
nav,
main,
footer {
    margin: 0 auto;
    padding: 1.23em;
    max-width: 60em;
}

header {
    margin-top: 11px;
}

header, footer {
    text-align: center;
    background-color: var(--red-orange);
    color:rgb(12, 65, 109);
    padding:5px;
    border-radius: 15px;
}



footer {
    font-size: 1.0em;
}

footer a {
    color:rgb(5, 77, 77);
}

.design {
    float: left;
    background-color: lightgrey;
    width: 33.33%;
    border: 15px solid rgb(49, 116, 49);
    padding: 30px;
    margin: 5px;
}
